.multisafepay-payment-logo {
    background: url("../images/MultiSafepay.png") no-repeat 0 0 / 19rem auto;
    height: 43px;
    width: auto;
    padding-left: 20rem;
    display:inline-block;
    vertical-align: middle;
}

.multisafepay-section .button-container {
    float: right;
}

.multisafepay-section .multisafepay-payment-text {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    font-weight: 500;
}

.multisafepay-payment-text ul {
    padding-left: 30px;
    margin-top: 10px;
}

#multisafepay-section-button {
    min-width: 100px;
    font-weight: bold;
}

.multisafepay-payment .button-container {
    float: right;
    margin: 2.5rem 0 0 !important;
}

.multisafepay-payment > .entry-edit-head > a::before {
    left: auto !important;
    right: 1.3rem !important;
}

.multisafepay-heading {
    width: 80%;
    margin-left: 10px;
}

.multisafepay-heading-intro {
    height: 55px;
    display: block;
}

.multisafepay-icon .title:before
{
    background: url('../images/icon-multisafepay.png') no-repeat;
    width: 16px;
    height: 16px;
    content: '';
    display: inline-block;
    margin-right: 3px;
    vertical-align: bottom;
}

.multisafepay-giftcard-payment-additional-info {
    margin-top: 10%;
}

.multisafepay-payment.multisafepay-section.enabled .config-heading {
    border-left: 5px solid #9ee86491;
}

.multisafepay-payment.multisafepay-section .config-heading {
    border-left: 5px solid #c4c4c482;
}

.admin__field-label.multisafepay-icon-label {
    margin-top: 14px;
}

.admin-field-option-multisafepay {
    flex-wrap: wrap;
    display: flex;
}
